:root {
    --mpw-color-brown: #342330;
    --border-radius: 0.5rem;
    --outline-offset-start: 1rem;
    --outline-offset-focus: 5px;
    --mpw-color-pink: #ec008c;
    --mpw-color-pink-light: #f7c6d2;
    --mpw-color-pink-dark: #b3005f;

}

* {
    box-sizing: border-box;
    outline-color: black;
    outline-width: 2px;
    outline-style: revert;
    outline-offset: var(--outline-offset-start);
    transition: outline-offset 0.1s ease-in-out;

    &:focus-visible {
        outline-offset: var(--outline-offset-focus);
    }
}

html {
    overflow-x: hidden;
}

body, html {
    height: 100%;
    font-family: 'Montserrat';
    text-align: center;
    margin:0;
}

strong {
    color: var(--title-color);
}

/* body {
    display: grid;
    justify-content: stretch;
} */

#app {
    display: grid;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--mpw-color-brown);
    font-family: 'Catamaran', serif;
    font-weight: 900;
    line-height: 1.2;
    margin: 0;
}

.bg-image {
    z-index: -1;
    --image-blur: 8px;
    position: fixed;
    width: calc(100vw + (var(--image-blur) * 2));
    top: calc(-1 * var(--image-blur));
    left: calc(-1 * var(--image-blur));
    filter: blur(var(--image-blur));
    -webkit-filter: blur(var(--image-blur));
    height: calc(100vh + (var(--image-blur) * 2));
    background-image: url('/bgimg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.u-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}